@model General;

@{
    var people = ViewBag.PeopleFromViewBag as List<Person>;

}
<h1> Persons</h1>
<h2>
    @ViewBag.Header;
</h2>
<table class="table table-bordered">
    <th>
        <td>Id</td>
        <td>FullName</td>
        <td>Email</td>
        <td>Phone</td>
    </th>
    @if (Model.People == null || !Model.People.Any())
    {
        <tr>
            <td colspan="4">No Records found</td>
        </tr>
    }
    else
    {
       

        @* foreach (var item in people)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
            </tr>
        } *@
        foreach (var item in Model.People)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
            </tr>
        }
    }
</table>
